<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <customErrors mode="Off" />
      <httpErrors errorMode="Detailed"></httpErrors>
      <aspNetCore processPath="dotnet" arguments=".\aspnetcoreapp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  <security>
	<ipSecurity allowUnlisted="false">
	<clear />
	<add ipAddress="20.119.0.41" allowed="true" />
	</ipSecurity >
	</security>
  </location>
</configuration>